@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@keyframes zoomOutModal {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  /* overflow: hidden; */
  overflow-x: hidden;
  

  /* margin-top: 10px; */
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #111111;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111111;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 999px;
  border: 1px solid #1f1f1f;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar but allow scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes flow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}

.animate-flow {
  animation: flow 2s linear infinite;
}



.flexlayout__tab_toolbar {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.flexlayout__tab_toolbar_button {
  display: flex !important;
  opacity: 1 !important;
}

.flexlayout__tabset_header {
  background: white !important;
}